.App {
  text-align: center;
  background-color: rgba(28,32,57,255);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container {
  width: 50%;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(28,32,57,255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map{
    width: 50vw;
    height: 100vh;
    outline: none;
    border: none;
}

.map .retourIconContainer{
    position: fixed;
    z-index: 8;
    background-color: rgba(28,32,57,255);
    top: 20px;
    left: 10px;
    width: 50px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.retourIconContainer:hover .iconRetour{
    margin-right: 15px;
}

.iconRetour{
    color: white;
    font-size: 25px;
    transition-duration: 0.3s;
}

.mapboxgl-canvas:focus{
    outline: none;
}




.info.loaded{
    left: 48vw;  
}




.mapboxgl-ctrl-bottom-right{
    display: none !important;
}

