.choiceOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    margin: 0 10px;
}

.chartOption{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
}

.chartOption.select{
    background-color: red;
    color: white;
}


.info{
    position: fixed;
    z-index: 2;
    right: 0;
    padding: 20px;
    top: 0;
    background-color: rgba(28,32,57,255);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    left: -1vw;
    bottom: 0;
    padding: 15px 50px;
    transition-duration: 1.5s;
    flex-direction: column;
    display: flex;
    color: white;
}

.staticInfo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}



.divChart{
    width: 100%;
    height: 60%;
}

.header{
    color: white;
}


.head{
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contain{
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
    bottom: 20px;
}

.tiles{
    background: #262b49;
    border-radius: 8px;
    box-shadow: 0 3px 0px rgba(26,30,57,255), 0 3px 0px rgba(26,30,57,255);
    display:flex;
}

.tiles.mainGraph{
    width: 100%;
    height: 55%;
    flex-direction: row;
}

.containMainGraph{
    width: 94%;
}

.tiles.secondGraph{
    width: 65%;
    height: 100%;
    flex-direction: row;
}

.switcherContainer{
    display: flex;
    flex-direction: row;
}

.iconSwitcher{
    margin: auto 10px;
}
.ico{
    font-size: 20px;
}

.tiles.square{
    width: 100%;
    height: 50vh;
    flex-direction: column;
    
}



.tiles.square.first{
    margin-bottom: 10px;
    
}

.tiles.square.second{
    margin-top: 10px;
    
}

.arrow{
    width: 7%;
    cursor: pointer;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover{
    background: rgb(255,255,255,0.1);
}

.arrow.notHover{
    cursor: default;
}

.arrow.notHover:hover{
    background: transparent;
}

.arrowIcon{
    font-size: 25px;
    opacity: 0.2;
    transition-duration: 0.3s;
}


.arrow:hover .arrowIcon{
    margin-left: 0 !important;
    margin-right: 0 !important;
    opacity: 1;

}


.containBottom{
    top: 20px;
    right: 0;
    position: relative;
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: row;
}

.containBottomLeft{
    margin-left: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;

}

.mainGraphContainer{
    width: 92%;
    margin: auto;
}

.titleGraph{
    font-size: 18px;
    font-weight: 500;
}

.headGraph{
    padding: 20px 0;
    margin: auto;
}