#mapbox { position: absolute; top: 0; bottom: 0; width: 50%; }

.marker{
    
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url("../ressources/marker.svg");
        
}

.mapboxgl-popup-content{
    background-color: rgba(28,32,57,255) !important;
    width: 300px !important;
    max-height: 650px  !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: rgba(28,32,57,255)  !important;
}